@font-face {
	font-family: 'cinzel';
	src: url("../fonts/cinzel.woff2") format("woff2");
}

@font-face {
	font-family: 'the brother hoops';
	src: url("../fonts/the brother hoops.woff2") format("woff2");
}

@font-face {
	font-family: 'ubuntu';
	src: url("../fonts/ubuntu.woff2") format("woff2");
}

:root {
	background-color: #330001;
}

.bibi-post-history {
	--heading-font: 'the brother hoops';
	--title-font: 'cinzel';
	--desc-font: 'ubuntu';
	--font-color: white;
	--month-color: #984344;
	--bg-color: #211e1f;
	--hover-color: #fff3;
	--img: url("../img/gloves.png");
	--title-size: 48px;
	width: 700px;
}

.bibi-post-history :is(h2, h3, h4) {
	margin: 0;
	font-weight: normal;
}

.bibi-post-history h2 {
	text-transform: uppercase;
	letter-spacing: 8px;
	font-kerning: none;
	font-family: var(--heading-font), sans-serif;
	font-size: 96px;
	text-align: center;
	color: var(--font-color);
}

.bibi-post-container {
	border: 2px solid var(--font-color);
	background-color: var(--bg-color);
}

.bibi-post-month header {
	display: grid;
	height: 96px;
	grid-template-columns: 1fr 2fr;
	background-color: var(--month-color);
}

.bibi-post-month:nth-child(2n) header {
	grid-template-columns: 2fr 1fr;
}

.bibi-post-month header .bibi-icon {
	background-color: black;
	border-radius: 0 48px 48px 0;
	display: grid;
	place-content: center;
}

.bibi-post-month header .bibi-icon::before {
	content: '';
	width: 64px;
	height: 64px;
	background-color: var(--month-color);
	mask-image: var(--img);
	mask-size: cover;
	-webkit-mask-image: var(--img);
	-webkit-mask-size: cover;
}

.bibi-post-month:nth-child(2n) header .bibi-icon {
	border-radius: 48px 0 0 48px;
	grid-column: 2 / 3;
}

.bibi-post-month header h3 {
	text-transform: uppercase;
	letter-spacing: 8px;
	font-kerning: none;
	font-size: 72px;
	font-family: var(--heading-font), sans-serif;
	color: var(--font-color);
	display: grid;
	place-content: center;
}

.bibi-post-month:nth-child(2n) header h3 {
	grid-row: 1 / 2;
}

.bibi-post-container :is(a, article) {
	background-color: var(--bg-color);
	padding-top: 12px;
	display: grid;
	grid-template:
		"dt title"
		"desc desc" / 1fr 2fr;
	color: var(--font-color);
	text-decoration: none;
}

.bibi-post-container :is(a, article):hover {
	background:
		linear-gradient(to right, var(--hover-color), var(--bg-color)),
		linear-gradient(to right, var(--bg-color), var(--bg-color));

}

.bibi-post-container :is(a, article) :is(time, .bibi-post-title) {
	font-family: var(--title-font), serif;
	align-self: start;
}

.bibi-post-container :is(a, article) time {
	font-size: 24px;
	line-height: .75;
	justify-self: center;
}

.bibi-post-container :is(a, article) .bibi-post-title {
	text-align: end;
	justify-self: end;
}

.bibi-post-container :is(a, article) .bibi-post-title h4 {
	font-size: var(--title-size);
	margin-right: 16px;
	line-height: .85;
}

.bibi-post-container :is(a, article) .bibi-post-title span {
	font-family: var(--desc-font), sans-serif;
	margin-right: 16px;
	font-size: 14px;
}

.bibi-post-container :is(a, article) .bibi-post-details {
	grid-area: desc;
	font-family: Ubuntu, serif;
	margin: 8px 16px;
	border: 2px solid black;
	padding: 8px;
}
