@font-face {
	font-family: 'cinzel';
	src: url("../fonts/cinzel.woff2") format("woff2");
}

@font-face {
	font-family: 'the brother hoops';
	src: url("../fonts/the brother hoops.woff2") format("woff2");
}

@font-face {
	font-family: 'ubuntu';
	src: url("../fonts/ubuntu.woff2") format("woff2");
}

:root {
	background-color: #330001;
}

.bibi-post-history {
	--heading-font: 'the brother hoops';
	--title-font: 'cinzel';
	--desc-font: 'ubuntu';
	--font-color: white;
	--month-color: #984344;
	--bg-color: #211e1f;
	--hover-color: #fff3;
	--img: url("../img/gloves.png");
	--title-size: 48px;
	width: 700px;
}

@layer bibi {
	:is(.bibi-post-history > br, .bibi-post-history :not(time) > br) {
		display: none !important;
	}

	.bibi-post-history * {
		line-height: 1.15 !important;
		border: none !important;
		font-weight: normal !important;
		background: none !important;
		padding: 0 !important;
		margin: 0 !important;
		position: static !important;
		height: auto !important;
		width: auto !important;
		letter-spacing: normal !important;
	}

	.bibi-post-history :is(h2, h3, h4) {
		margin: 0 !important;
		font-weight: normal !important;
	}

	.bibi-post-history h2 {
		text-transform: uppercase !important;
		letter-spacing: 8px !important;
		font-kerning: none !important;
		font-family: var(--heading-font), sans-serif !important;
		font-size: 96px !important;
		text-align: center !important;
		color: var(--font-color) !important;
	}

	.bibi-post-container {
		border: 2px solid var(--font-color) !important;
		background-color: var(--bg-color) !important;
	}

	.bibi-post-month header {
		display: grid !important;
		height: 96px !important;
		grid-template-columns: 1fr 2fr !important;
		background-color: var(--month-color) !important;
	}

	.bibi-post-month:nth-of-type(2n) header {
		grid-template-columns: 2fr 1fr !important;
	}

	.bibi-post-month header .bibi-icon {
		background-color: black !important;
		border-radius: 0 48px 48px 0 !important;
		display: grid !important;
		place-content: center !important;
	}

	.bibi-post-month header .bibi-icon::before {
		content: '' !important;
		width: 64px !important;
		height: 64px !important;
		background-color: var(--month-color) !important;
		mask-image: var(--img) !important;
		mask-size: cover !important;
		-webkit-mask-image: var(--img) !important;
		-webkit-mask-size: cover !important;
	}

	.bibi-post-month:nth-of-type(2n) header .bibi-icon {
		border-radius: 48px 0 0 48px !important;
		grid-column: 2 / 3 !important;
	}

	.bibi-post-month header h3 {
		text-transform: uppercase !important;
		letter-spacing: 8px !important;
		font-kerning: none !important;
		font-size: 72px !important;
		font-family: var(--heading-font), sans-serif !important;
		color: var(--font-color) !important;
		display: grid !important;
		place-content: center !important;
	}

	.bibi-post-month:nth-of-type(2n) header h3 {
		grid-row: 1 / 2 !important;
	}

	.bibi-post-container :is(a, article) {
		background-color: var(--bg-color) !important;
		padding-top: 12px !important;
		display: grid !important;
		grid-template:
		"dt title"
		"desc desc" / 1fr 2fr !important;
		color: var(--font-color) !important;
		text-decoration: none !important;
	}

	.bibi-post-container :is(a, article):hover {
		background:
			linear-gradient(to right, var(--hover-color), var(--bg-color)),
			linear-gradient(to right, var(--bg-color), var(--bg-color)) !important;

	}

	.bibi-post-container :is(a, article) :is(time, .bibi-post-title) {
		font-family: var(--title-font), serif !important;
		align-self: start !important;
	}

	.bibi-post-container :is(a, article) time {
		font-size: 24px !important;
		line-height: .75 !important;
		justify-self: center !important;
	}

	.bibi-post-container :is(a, article) .bibi-post-title {
		text-align: end !important;
		justify-self: end !important;
	}

	.bibi-post-container :is(a, article) .bibi-post-title h4 {
		font-family: var(--title-font), serif !important;
		text-align: end !important;
		font-size: var(--title-size) !important;
		margin-right: 16px !important;
		line-height: .85 !important;
	}

	.bibi-post-container :is(a, article) .bibi-post-title span {
		font-family: var(--desc-font), sans-serif !important;
		margin-right: 16px !important;
		font-size: 14px !important;
	}

	.bibi-post-container :is(a, article) .bibi-post-details {
		grid-area: desc !important;
		font-size: 16px !important;
		font-family: Ubuntu, serif !important;
		margin: 8px 16px !important;
		border: 2px solid black !important;
		padding: 8px !important;
	}
}

