@font-face {
	font-family: 'pristina';
	src: url("../fonts/pristina.woff2") format("woff2");
}

@font-face {
	font-family: 'bellmt';
	src: url("../fonts/bellmt-regular.woff2") format("woff2");
}

@font-face {
	font-family: 'bellmt';
	src: url("../fonts/bellmt-medium.woff2") format("woff2");
	font-weight: 500;
}

@font-face {
	font-family: 'bellmt';
	src: url("../fonts/bellmt-italic.woff2") format("woff2");
	font-style: italic;
}

@font-face {
	font-family: 'bellmt';
	src: url("../fonts/bellmt-mediumitalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

.bibi-rp {
	--title-color: white;
	--title-font: 'pristina';
	--text-color: black;
	--rp-font: 'bellmt';
	--bg-top-color: #ff00ff;
	--bg-bottom-color: #00ccff;
	--rp-info-color: #77eeff;
	--rp-info-shadow-color: #2453b3;
	--rp-top-color: #ffddff;
	--rp-bottom-color: #00ccff88;
	--text-top-color: #333366;
	--text-bottom-color: #001e59;
	--dialogue-color: black;
	--rp-bg-img: url('../img/bg.svg');
}

@layer bibi {
	:is(.bibi-rp br) {
		display: none !important;
	}

	.bibi-rp {
		padding: 0 1.5em 1.5em !important;
		width: 500px !important;
		background: linear-gradient(to bottom, var(--bg-top-color), var(--bg-bottom-color)) !important;
	}

	.bibi-rp h2 {
		margin: 0 !important;
		padding-block: .5em .15em !important;
		font-weight: normal !important;
		letter-spacing: 2px !important;
		text-align: center !important;
		font-family: var(--title-font), serif !important;
		font-size: 3em !important;
		color: var(--title-color) !important;
	}

	.bibi-rp-container {
		padding: 1em 0 !important;
		font-family: bellmt, serif !important;
		font-weight: 500 !important;
		background-color: white !important;
		background-image: linear-gradient(to bottom, var(--rp-top-color), var(--rp-bottom-color)), var(--rp-bg-img) !important;
		box-shadow: 0 10px 25px 0 #0008 !important;
	}

	.bibi-rp header {
		padding: 0 1em .5em !important;
		display: grid !important;
		grid-template:
			"images info"
			"cp cp" / 160px 1fr !important;
		grid-gap: 5px 15px !important;
		align-items: start !important;
		border-bottom: 5px solid black !important;
	}

	.bibi-rp header .bibi-rp-images {
		display: flex !important;
		flex-wrap: wrap !important;
		gap: 10px !important;
		justify-content: center !important;
		align-items: center !important;
	}

	.bibi-rp-images > img {
		height: 75px !important;
		width: 75px !important;
		border-radius: 50% !important;
		background-color: black !important;
		object-fit: cover !important;
		overflow: hidden !important;
	}

	.bibi-rp header .bibi-rp-info {
		--shadow-blur: 2px !important;
		line-height: 1.5em !important;
		color: var(--rp-info-color) !important;
		font-size: larger !important;
		/*font-weight: bold !important;*/
		/*-webkit-text-stroke: medium var(--rp-info-shadow-color) !important;*/
		text-shadow: -1px 1px var(--shadow-blur) var(--rp-info-shadow-color),
		1px 1px var(--shadow-blur) var(--rp-info-shadow-color),
		1px -1px var(--shadow-blur) var(--rp-info-shadow-color),
		-1px -1px var(--shadow-blur) var(--rp-info-shadow-color),
		0 0 5px var(--rp-info-shadow-color) !important;
	}

	.bibi-rp .catchphrase {
		grid-area: cp !important;
	}

	.bibi-rp-container .content {
		padding-inline: 1em !important;
		background: linear-gradient(var(--text-top-color), var(--text-bottom-color)) !important;
		background-clip: text !important;
		-webkit-background-clip: text !important;
		color: transparent !important;
	}

	.bibi-rp-container .content p {
		text-align: justify !important;
	}

	.bibi-rp-container .content p.bibi-dialogue {
		display: grid !important;
		grid-template: "img reply" / 50px 1fr !important;
	}

	.bibi-rp-container .content p.bibi-dialogue.reply {
		grid-template: "reply img" / 1fr 50px !important;
	}

	.bibi-rp-container .content p.bibi-dialogue img {
		grid-area: img !important;
		width: 50px !important;
		height: 50px !important;
		border-radius: 50% !important;
		object-fit: cover !important;
		overflow: hidden !important;
		background-color: black !important;
	}

	.bibi-rp-container .content p.bibi-dialogue q {
		grid-area: reply !important;
		color: var(--dialogue-color) !important;
		position: relative !important;
		margin-inline: 1em !important;
	}

	.bibi-rp-container .content p.bibi-dialogue q::before {
		position: absolute !important;
		left: -.5em !important;
		font-size: 1.5em !important;
	}

	.bibi-rp-container .content p.bibi-dialogue q::after {
		position: absolute !important;
		right: -.5em !important;
		bottom: -.5em !important;
		font-size: 1.5em !important;
	}

	.bibi-rp-container .content p:last-of-type {
		margin-bottom: 0 !important;
	}

	.bibi-rp-container .content p.hrp {
		border: 2px solid black !important;
		padding: .5em 1em !important;
		color: var(--dialogue-color) !important;
	}
}
