<link rel="stylesheet" href="https://wolfeur.github.io/css/rp.css">
<section class="bibi-rp" style="">
	<h2>Titre du RP</h2>
	<div class="bibi-rp-container">
		<header>
			<div class="bibi-rp-images">
				<img src="" alt="">
				<img src="" alt="">
			</div>
			<div class="bibi-rp-info">
				<div class="location">Quelque part</div>
				<time>10:30</time>
				<div class="feat">Ta mère dans ton daron</div>
			</div>
			<div class="catchphrase">J'vous emmerde et je rentre à ma maison</div>
		</header>
		<section class="content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis, pariatur. Accusantium aliquid
				autem dolorum eos illo iure iusto nam praesentium quam quasi quos recusandae, sapiente suscipit tempora
				veritatis, vitae!</p>
			<p>Blanditiis, culpa, earum! Eos et explicabo, incidunt quaerat sequi veritatis? Accusamus atque culpa
				dolores dolorum et fugit in nesciunt, nisi nobis, numquam perferendis qui quisquam quos ratione sint
				sunt vitae?</p>
			<p>Asperiores assumenda aut cumque cupiditate deserunt doloremque eligendi enim, facere fugit ipsa itaque
				laboriosam laudantium nemo, officiis perferendis placeat possimus provident quae reiciendis sapiente,
				soluta temporibus vel vero voluptatem voluptates?</p>
			<p>At eos minus molestiae quibusdam recusandae, reiciendis! Alias aliquam aliquid consequatur corporis
				laboriosam magnam nemo non porro quasi qui. Atque, molestiae voluptates. Explicabo, quisquam,
				reprehenderit. Dignissimos necessitatibus numquam quidem sint.</p>
			<p>A aperiam asperiores, atque consectetur deserunt distinctio eius fugiat hic illum iste, iure
				necessitatibus nesciunt nihil nostrum nulla odit, porro provident quae rem sapiente similique sit
				suscipit tenetur ullam voluptas!</p>
			<p class="bibi-dialogue">
				<img src="" alt="">
				<q style="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat, fugit ipsam magnam mollitia nesciunt nobis perspiciatis provident qui quo reiciendis similique suscipit voluptas. Asperiores eos facilis minus non veritatis.</q>
			</p>
			<p class="bibi-dialogue reply">
				<img src="" alt="">
				<q style="--dialogue-color: blueviolet">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet fugiat, fugit ipsam magnam mollitia nesciunt nobis perspiciatis provident qui quo reiciendis similique suscipit voluptas. Asperiores eos facilis minus non veritatis.</q>
			</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis corporis earum hic maiores minima
				necessitatibus quasi quidem rem vero.</p>
			<p>Alias beatae blanditiis commodi explicabo id ipsa iste maxime minima neque placeat praesentium quos
				reiciendis similique, suscipit ullam velit voluptatibus!</p>
			<p>Animi, assumenda commodi cupiditate distinctio doloremque dolores error fugiat in ipsam, laboriosam
				libero nemo nobis officia placeat, ratione recusandae vel.</p>
			<p>Ab maiores minima nulla odit optio placeat, recusandae sit veritatis voluptate? Architecto corporis
				ducimus eveniet explicabo fugit rerum ut. Saepe!</p>
			<p class="hrp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta dolorem, nemo nulla
				possimus suscipit!</p>
		</section>
	</div>
</section>
